/* ForgotPasswordFormPage.css */

.forgot-password-page {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .forgot-password-form {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: black;
height: 300px;}
  
  .forgot-password-form label {
    margin-bottom: 5px;
  }
  
  .forgot-password-form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .forgot-password-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .forgot-password-form button:hover {
    background-color: #0056b3;
  }
  